/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-family: "Noto Sans", sans-serif;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

/******************************************
/* LAYOUT
/*******************************************/

main {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

header {
  text-align: center;
  position: fixed;
  font-weight: lighter;
}

#photos {
  width: 100%;
  margin-top: 6rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow-y: scroll;
  overflow-x: hidden;
}

#photos > section {
  margin: 1rem;
}

h3 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 0.3rem;
}

img {
  height: 450px;
  max-width: 600px;
}

.votes {
  display: flex;
  justify-content: center;
  margin: 0.5rem;
}

.votes * {
  width: 50%;
  text-align: center;
}

.votes > h5 {
  border: 1px solid violet;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
